
<div id="toolbelt">
  <select onchange="changeSource(this)" id='selectLogFile'> 
    <option> auth.log.1.gz </option>
    <option> auth.log.2.gz </option>
    <option> auth.log.3.gz </option>
    <option> auth.log.4.gz </option>
    <option> ufw.log.gz    </option>
    <option> ufw.log.1.gz  </option>
    <option> secure-apr-2024.gz </option>
    <option> messages-2024.gz </option>
    <option> ufw.log-gnomecraft.gz </option>
    <option> ufw.log-bastion.gz </option>
    <option> ufw-adipocere.gz </option>
    <option> messages-20240526.gz </option>
    <option> ufw-adipocere-june-2024.gz </option>
  </select>
</div>
